body {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

li {
  list-style-type: none; 
 }
 ul {
  margin: 0; 
  padding: 0; 
 }

  .header {
    width: 100%;
    position: relative;
    background: url(../images/banner-bg.jpg) no-repeat center top / cover;
    padding-top: 27px;
    padding-bottom: 146px;
  }

  .header:after {
    position: absolute;
    content: "";
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 0;
  }

  .container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .logo {
    width: 179px;
  }

  .burger-menu-img {
    display: none;
  }

  .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .menu-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .menu-list-item {
    display: block;
    margin-right: 36px;
  }

  .menu-list-item:last-child {
    margin-right: 0;
  }

  .menu-link-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
  }

  .menu-link-item:hover {
    text-decoration: underline #fff;
  }
  
  .header-title {
    max-width: 692px;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: 0;
    position: relative;
    z-index: 1; 
  }

  .trends {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trends-title {
    text-transform: uppercase;
    margin-top: 64px;
    flex-direction: column;
    align-items: center;
  }

  .trends-title-caption {
    font-size: 20px;
    margin: 0;
  }

  .trends-title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 0 auto;
    margin-top: 14px; 
  }

  .trends-card {
    display: flex;
    width: 100%;
    margin-top: 44px;
  }

  .card {
    display: flex;
    width: 25%;
    position: relative;
    z-index: 1;
    min-height: 320px;
    margin-right: 4px;
    align-items: flex-end;
    padding: 16px 20px;
  }

.card:last-child {
  margin-right: 0;
}

  .card:after {
    position: absolute;
    content: "";
    background-color: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 0;
  }

  .card-description {
    border: 3px solid #b59f5b;
    position: relative;
    z-index: 1;
    padding: 34px;
  }

  .card-description-list  {
    display: flex;
    margin-bottom: 12px;
  }

  .card-description-list-item {
    margin-right: 20px;
  }

  .card-description-list-item:last-child {
    margin-right: 0;
  }

  .card-description-link {
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    font-weight: bold; 
    margin: 0;
    text-decoration: none;
  }

  .card-description-link:hover {
    text-decoration: underline #b59f5b;
  }

  .card-description-title-link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
  }
  
  .card-description-title-link:hover {
    color:#b59f5b;
  }

  .card-description-title {
    margin: 0;
  }

  .card-interior {
    background: url("../images/trend1.jpg")
      no-repeat center top / cover;
  }

  .card-food {
    background: url(../images/trend2.jpg)
    no-repeat center top / cover;
  }

  .card-travel {
    background: url(../images/trend3.jpg)
      no-repeat center top / cover;
  }

  .card-health {
    background: url(../images/trend4.jpg)
      no-repeat center top / cover;
  }

  .posts {
    width: 100%;
    margin-right: 78px;
  }

  .post {
    display: flex;
    margin-bottom: 58px;
    align-items: flex-start;
  }

  .post:last-child {
    margin-bottom: 0;
  }

  .date {
    display: flex;
  }

  .post-body {
    margin-left: 30px;
  }

  .post-titel-list {
    display: flex;
    margin-bottom: 12px;
  }

  .post-title-link  {
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    display:block;
    text-decoration: none;
  }

  .post-title-link:hover {
    text-decoration: underline #b59f5b;
  }

  .post-titel-list-item {
    margin-right: 20px;
  }

  .post-titel-list-item:last-child {
    margin-right: 0;
  }

  .post-caption-link {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    text-decoration: none;
    color: black;
  }

  .post-caption-link:hover {
    color:#b59f5b;
  }

  .post-caption {
    margin: 0;
  }

  .post-description {
    font-size: 15px;
    margin: 0;
  }

  .post-date-and-author {
    margin-top: 36px;
    margin-bottom: 54px;
  }
  .post-date {
    color: #989898;
    margin-right: 14px;
  }
  .post-author {
    font-weight: bold;
  }

.main {
  display: flex;
  margin: 0 auto;
  margin-top: 64px;
}

.side-bar {
  width: 270px;
  display: block;
}

.side-bar-title {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.side-bar-caption {
  margin: 0 auto;
  font-size: 14px;
}

.side-bar-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: auto;
  margin-top: 14px;
}

.side-bar-posts {
  margin-top: 30px;
}

.side-bar-post {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
}

.side-bar-post:last-child {
  margin-bottom: 60px;
}

.side-bar-post-description {
  margin-left: 20px;
}

.side-bar-post-description-title {
  margin: 0;
}

.side-bar-post-description-title-link {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.side-bar-date {
  font-size: 12px;
}

.search-field-box {
  display: flex;
  margin-bottom: 62px;
}

.search-field-box-text {
  display: none;
}

.search-field {
  background-color: #f4f7f6;
  width: 220px;
  height: 50px;
  outline: none;
  border: none;
  padding: 20px;
}

.search-button {
  width: 50px;
  height: 50px;
  background-color: #b59f5b;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.search-button:hover {
  background-color: #323232;
}

.search-button-hidden {
  display: none;
}

.search-icon {
  width: 22px;
  height: 22px;
  fill: #fff;
  pointer-events: none;
  background: url(../svg/search.svg) no-repeat center top / cover;
  margin: 0 auto;
}

.subscribe-titel {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subscribe-titel::after {
content: "";
display: block;
width: 66px;
height: 3px;
background-color: #e1d9bd;
margin: auto;
margin-top: 14px;
}

.subscribe-caption {
  margin: 0;
  font-size: 14px;
}

.subscribe-mail {
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  outline: none;
  border: none;
  padding: 20px;
  margin-bottom: 16px;
}

.subscribe-mail-text {
  display: none;
}

.subscribe-button {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 18px 76px;
  background-color: #b59f5b;
  border: none;
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.subscribe {
  margin-bottom: 60px;
}

.tags-title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.tags-caption {
  font-size: 14px;
  margin: 0;
}
.tags-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list-item {
  display: block;
  border: 3px solid #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  color: #0f0d0e;
  box-sizing: border-box;
  padding: 6px 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.tags-list-item:hover {
  border-color: #b59f5b;
}

.themes {
margin-top: 60px;
display: block;
}

.themes-title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.themes-caption {
  margin: 0;
  font-size: 14px;
}

.themes-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.themes-menu-list {
  display: block;
}

.themes-list {
  border-bottom: 1px solid #eeeeee;
  padding: 16px 0;
}

.themes-list-item {
 color: black;
 font-weight: bold;
 font-size: 14px;
 text-decoration: none;
}

.themes-list-item:hover {
  color: #b59f5b;
}

.themes-list-number {
  font-size: 12px;
  color: #b59f5b;
  font-weight: bold;
  vertical-align: top;
}

.shop {
  margin-top: 65px;
}

.shop-post {
  display: flex;
  flex-direction: row;
}

.shop-title {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-size: 14px;
}

.shop-title-item {
  font-size: 14px;
  margin: o;
}

.shop-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin-top: 14px;
}

.shop-post-item {
  width: 33%;
  /* padding-top: 172px; */
  margin-right: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.shop-post-item:last-child {
  margin-right: 0;
}

.shop-post-image {
  /* position: absolute; */
  /* top: 0;
  left: 50%;
  transform: translateX(-50%); */
  z-index: -1;
  display: block;
  margin: auto;
  margin-bottom: -30px;
  /* margin-left: 23px; */
}

.shop-post-description {
  border: 3px solid #b59f5b;
  padding-top: 54px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.shop-post-description-title {
  margin: 0;
  font-size: 20px;
  text-transform: uppercase;
}

.shop-post-desc {
  font-size: 15px;
}

.shop-post-desc-link {
  color: #b59f5b;
  text-decoration: none;
}

.shop-post-desc-footer {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.shop-post-footer-button {
  width: 140px;
  height: 48px;
  box-sizing: border-box;
  background-color: #b59f5b;
  border: none;
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.shop-post-price {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  white-space: nowrap;
}

.first-price {
font-size: 14px;
text-decoration: line-through;
}

.new-price {
  font-size: 20px;
}
.footer {
  margin-top: 66px;
}
.social-media {
  justify-content: center;
  background-color: #f4f7f6;
  display: flex;
  padding: 30px 0;
}

.social-media-list {
  display: flex;
  justify-content: center;
}

.social-media-list > li {
  margin-right: 30px;
}

.social-media-list > li:last-child {
  margin-right: 0;
}

.social-media-item {
  display: block;
  width: 24px;
  height: 24px;
}

.social-media-description-hidden {
 display: none;
}

.social-media-tumblr {
  background: url(../svg/003-tumblr.svg) no-repeat center top / cover;
}

.social-media-instagram {
  background: url(../svg/005-instagram.svg) no-repeat center top / cover;
}

.social-media-facebook {
  background: url(../svg/002-facebook-logo.svg) no-repeat center top / cover;
}

.social-media-pinterest {
  background: url(../svg/001-pinterest.svg) no-repeat center top / cover;
}

.social-media-twitter {
  background: url(../svg/004-twitter.svg) no-repeat center top / cover;
}

.copyright {
margin-top: 74px;
margin-bottom: 46px;
text-align: center;
}

.copyright-text {
font-size: 12px;
color: #999999;
}

/* POPUP */
.popup-overlay {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

._hidden {
display: none;
}

.popup {
  width: 390px;
  height: 590px;
  background-color: #fff;  
  position: relative;
}

.popup-close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: -36px;
  background: url(../svg/form-x.svg) no-repeat center / cover;
}

.popup {
  padding: 55px 30px;
}

.popup-title {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.popup-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: auto;
  margin-top: 14px;
}

.popup-content {
  margin-top: 30px;
}

.select-label {
  font-size: 13px;
}

.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-top: 10px;
  color: #818382;
  background-color: #f4f7f6;
  padding: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../svg/form-arrows.svg) no-repeat;
  background-size: 10px;
  background-position: right 14px center;
}

.select:focus {
outline: 1px solid #b59f5b;
}

.radio-label {
  margin-top: 32px;
  margin-bottom: 12px;
}

.radio-btn {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
}

.custom-radio-btn {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  background: #fff;
  border:  1px solid #b59f5b;
  border-radius: 50%;
  vertical-align: text-top;
  margin-left: 5px;
}

.custom-radio-btn::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #b59f5b;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-right: 5px;
}

.radio-btn:checked ~ .custom-radio-btn::before {
  transform: translate(-50%, -50%) scale(1);
}

.textarea-label {
  margin-top: 34px;
  margin-bottom: 13px;
}

.textarea-title {
  font-size: 13px;
}

.textarea {
  width: 100%;
  background-color: #f4f7f6;
  color: #818382;
  font-size: 13px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.textarea:focus {
  outline: 1px solid #b59f5b;
}

.popup-btn-container {
  margin-top: 26px;
  margin-bottom: 55px;
}
.popup-btn {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background-color: #b59f5b;
  border: none;
  color:#fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.popup-btn:hover {
  background-color: #323232;
}
@media (max-width:640px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 31px;
    padding-bottom: 219px;
  }


  .logo {
    width: 270px;
    height: 60px;
  }

  .menu-list {
    display: none;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .header-title {
    font-size: 26px;
    margin: 38px;
  }

  .trends-title {
    margin-top: 46px;
  }

  .trends-title-caption {
    font-size: 16px;
  }

  .trends-card {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 2px;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .main {
    flex-direction: column;
    align-items: center;
  }

  
  .post {
    flex-direction: column;
    margin-right: 0;
    align-items: center;
  }

  .post-title-link {
    margin-top: 16px;
  }

  .post > img {
    height: 254px;
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .side-bar-title {
    margin-top: 46px;
  }

  .shop-post {
    display: flex;
    flex-direction: column;
  }

  .shop-post-item {
    width: 100%;
    margin-bottom: 26px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop-container {
    display:flex;
    flex-direction: column;
  }
}

@media (min-width: 641px) and (max-width: 1200px) {
.header {
height: 392px;
padding-top: 43px;
padding-bottom: 124px;
}

.container {
  padding: 0 34px;
}

.logo {
  width: 158px;
  height: 36px;
}
.heading {
  padding-left: 32px;
}
.menu-list {
  display: none;
}

.header-title {
  font-size: 40px;
  margin-top: 105px;
}

.trends-title {
  margin-top: 52px;
}

.trends-title-caption {
  font-size: 18px;
}

.trends-card {
  flex-wrap: wrap;
  margin-right: -3px;
  margin-bottom: -3px;
}

.card {
  width: calc(50% - 3px);
  height: 246px;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 15px 19px;
}

.card-description-link {
font-size: 14px;
}

.card-description-title-link {
  font-size: 17px;
}
.main {
  padding: 0 32px;
  margin-top: 51px;
}

.posts {
  margin-right: 34px;
}

.post {
  flex-direction: column;
  margin-bottom: 42px;
  margin-right: 0;
}

.post:last-child {
  margin-bottom: 0;
}

.post > img {
  height: 302px;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.post-body {
  margin-top: 17px;
  margin-left: 0;
  border-bottom: 3px solid #eeeeee;
}

.last-post-body {
  border-bottom: none;
}

.post-caption {
  font-size: 17px;
}

.post-titel-list {
  margin-bottom: 20px;
}

.post-date-and-author {
  margin-top: 38px;
  margin-bottom: 38px;
  padding: 0;
}

.post-description {
  margin-bottom: 24px;
}

.shop-post {
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -24px; */
  width: 100%;
}

.shop-title {
  margin-bottom: 28px;
}
.shop-title-item {
font-size: 18px;
margin: 0;
}

.shop-post-description-title {
  font-size: 17px;
}

.shop-post-item {
  width: calc(50% - 12px);
  height: 438px;
  margin-right: 0;
  /* margin-right: 24px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-post-item:first-child {
  margin-right: 24px;
}

.shop-post-item:last-child {
  margin-right: 0;
  margin-top: 30px;
}

.social-media {
  margin-top: 51px;
}
}